<h1>Editing Problem</h1>

<%= render 'form', problem: @problem %>

<div class="pull-right">
    <%= link_to 'Delete', @problem, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %>
    <%= link_to 'Show', @problem, class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
</div>
