<h1>Editing Variety</h1>

<%= render 'form', variety: @variety %>

<div class="pull-right">
    <%= link_to 'Delete', @variety, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %>
    <%= link_to 'Show', @variety, class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
</div>
