<h1>Editing Plantation</h1>

<%= render 'form', plantation: @plantation, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Delete', [@farm, @plot, @plantation], class:'btn btn-danger', method: :delete, data: { confirm: '¿Are you sure?' }, title: 'Delete' %>
    <%= link_to 'Show', [@farm, @plot, @plantation], class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
</div>
