<h1>New Plantation</h1>

<%= render 'form', plantation: @plantation, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Cancel', farm_plot_plantations_path, class: "btn btn-danger" %>
</div>
