<h1>Editing Product Application</h1>

<%= render 'form', product_application: @product_application, farm: @farm, plot: @plot %>

<%= link_to 'Show', [@farm, @plot, @product_application] %> |
<%= link_to 'Back', :back %>
