<h1>New Plot Problem</h1>

<%= render 'form', plot_problem: @plot_problem, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Back', farm_plot_problems_path, class: "btn btn-danger" %>
</div>